@use '../../styles/mixins' as *;

.section-title {
  display: flex;
  gap: var(--size-1);
  align-items: center;
  font-size: var(--font-size-headline-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-on-primary);

  @include tablet-down {
    font-size: var(--font-size-headline-medium);
  }

  // Yellow accent bar
  &::before {
    flex-shrink: 0;
    width: var(--size-1);
    height: var(--size-4);
    border: var(--border-width-medium) solid var(--color-on-primary);
    border-radius: var(--corner-extra-small);
    background-color: var(--color-primary);
    content: '';

    @include tablet-down {
      height: var(--size-3);
    }
  }
}
